/* .card {
    background-color: #111;
} */
.search {
    border-top: #fff;
    position: sticky;
    top: 82px;
    z-index: 9999;
}
.search .search-container-form .col-auto  {
    margin: 0;
}
.search-container-form {
    background-image: url("../image/header-background.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
    width: 100%;
}

@media (min-width: 576px) {
    .search-container-form {
        height: 100px;
    }
}

.search-form>div {
    margin: 0;
}

.container-fluid .row {
    margin: 0;
}

.job-offers .card .card-header {
    background-color: #ff1414;
}

.job-offers .card .card-body {
    background-color: #fff;
    color: black;
}

.container.position-sticky {
    top: 200px;
}

.job-offers .card .carb-body ul li{
    color: darkgray;
}
.btn:hover {
    background-color: #ff1414;
}