.img {
    height: auto;
    width: 100%;
}

@media (min-width: 768px) {
    .img {
        width: 500px;
    }
}

.location-icon .fa-solid::before {
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.location-icon {
    position: absolute;
    z-index: 8;
}

.fa-circle-dot {
    padding: 1em 0.25em 0.25em 0.25em;
}

.fa-location-dot,
.fa-circle-dot {
    cursor: pointer;
}

.location-name {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    z-index: 9;
}

.location-name-text-left {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.location-name-text-bottom {
    position: absolute;
    bottom: -50px;
    left: 50%;
    transform: translateX(-50%);
}

.custom-tooltip {
    --bs-tooltip-bg: white;
    --bs-tooltip-color: black;
    --bs-tooltip-opacity: 1;
    border-radius: 5px;
}

/* Luzon */
.pangasinan {
    top: 29%;
    left: 34.5%;
}

.tarlac {
    top: 32%;
    left: 39.5%;
}

.pampanga {
    top: 34%;
    left: 40%;
}

.bulacan {
    top: 36%;
    left: 42%;
}

.tuguegarao {
    top: 20%;
    left: 49%;
}

.isabela {
    top: 23%;
    left: 52%;
}

.bicol {
    top: 44%;
    left: 61%;
}

.bataan {
    top: 37%;
    left: 38%;
}

.batangas {
    top: 41.5%;
    left: 42.4%;
}

.lucena {
    top: 41%;
    left: 47%;
}

.mindoro {
    top: 47%;
    left: 43%;
}

.palawan {
    top: 63%;
    left: 27%;
}

.ilocos {
    top: 24.5%;
    left: 38%;
}

.baguio {
    top: 26%;
    left: 40%;
}

.cavite {
    top: 39%;
    left: 41.5%;
}

.laguna {
    top: 39.5%;
    left: 45%;
}

.ncr {
    top: 37.5%;
    left: 43%;
}

/* Visayas */
.bacolod {
    top: 60%;
    left: 57.7%;
}

.cebu {
    top: 62%;
    left: 65%;
}

.roxas {
    top: 55%;
    left: 55.6%;
}

.iloilo {
    top: 59.5%;
    left: 54.2%;
}

.tacloban {
    top: 56.5%;
    left: 73%;
}

/* Mindanao */
.cagayandeoro {
    top: 72.8%;
    left: 70.5%;
}

.surigao {
    top: 65.5%;
    left: 77%;
}

.davao {
    top: 80%;
    left: 78%;
}

.cotabato {
    top: 79.5%;
    left: 67.3%;
}

.dipolog {
    top: 72%;
    left: 60.6%;
}

.zamboanga {
    top: 80%;
    left: 51%;
}

.generalsantos {
    top: 86%;
    left: 73.8%;
}

/* md */
@media (min-width: 768px) {
    .zamboanga {
        top: 80%;
        left: 50.5%;
    }

    .dipolog {
        top: 71%;
        left: 57.6%;
    }

    .generalsantos {
        top: 85%;
        left: 67.2%;
    }

    .cotabato {
        top: 78.5%;
        left: 62.3%;
    }

    .davao {
        top: 79%;
        left: 70%;
    }

    .cagayandeoro {
        top: 71.8%;
        left: 63.5%;
    }

    .surigao {
        top: 63.8%;
        left: 69.5%;
    }

    .palawan {
        top: 63%;
        left: 31%;
    }

    .tacloban {
        top: 54.5%;
        left: 67%;
    }

    .cebu {
        top: 60%;
        left: 61%;
    }

    .roxas {
        top: 53%;
        left: 54.6%;
    }
    .bicol {
        top: 42%;
        left: 58%;
    }

    .iloilo {
        top: 57.5%;
        left: 53.2%;
    }

    .bacolod {
        top: 58%;
        left: 55.7%;
    }

    .mindoro {
        top: 45%;
        left: 45%;
    }

    .lucena {
        top: 38%;
        left: 48%;
    }

    .laguna {
        top: 37%;
        left: 46%;
    }

    .batangas {
        top: 39.5%;
        left: 44.8%;
    }

    .ncr {
        top: 34.5%;
        left: 44.7%;
    }

    .cavite {
        top: 37%;
        left: 43%;
    }

    .bulacan {
        top: 33%;
        left: 44%;
    }

    .pampanga {
        top: 31%;
        left: 42%;
    }

    .tarlac {
        top: 29%;
        left: 41.5%;
    }

    .bataan {
        top: 34%;
        left: 41.5%;
    }

    .baguio {
        top: 23%;
        left: 43%;
    }

    .ilocos {
        top: 20.5%;
        left: 41.5%;
    }

    .pangasinan {
        top: 26%;
        left: 39.5%;
    }

    .isabela {
        top: 19%;
        left: 51%;
    }

    .tuguegarao {
        top: 17%;
        left: 49%;
    }
}

/* lg */
@media (min-width: 992px) {
    .zamboanga {
        left: 50.5%;
    }

    .dipolog {
        left: 55.6%;
    }

    .generalsantos {
        left: 62.7%;
    }

    .cotabato {
        left: 59.3%;
    }

    .davao {
        left: 64.5%;
    }

    .cagayandeoro {
        left: 59.5%;
    }

    .surigao {
        left: 64.5%;
    }

    .palawan {
        left: 36%;
    }

    .tacloban {
        left: 62%;
    }

    .cebu {
        left: 58%;
    }

    .roxas {
        left: 53%;
    }

    .iloilo {
        left: 52.2%;
    }

    .bacolod {
        left: 54.3%;
    }

    .mindoro {
        left: 46%;
    }

    .lucena {
        left: 48%;
    }

    .bicol {
        left: 56%;
    }

    .laguna {
        left: 47%;
    }

    .batangas {
        left: 44.8%;
    }

    .ncr {
        left: 46.3%;
    }

    .cavite {
        left: 45%;
    }

    .bulacan {
        left: 46%;
    }

    .pampanga {
        left: 44%;
    }

    .tarlac {
        left: 43.5%;
    }

    .bataan {
        left: 43.5%;
    }

    .baguio {
        left: 45%;
    }

    .ilocos {
        left: 44%;
    }

    .pangasinan {
        left: 41.5%;
    }

    .isabela {
        top: 20%;
        left: 51%;
    }

    .tuguegarao {
        left: 49%;
    }
}

/* xl */
@media (min-width: 1200px) {
    .zamboanga {
        top: 79%;
        left: 50.3%;
    }
    .cotabato {
        left: 57.5%;
    }
    .generalsantos {
        left: 60.7%;
    }
    .davao {
        left: 62.3%;
    }
    .cagayandeoro {
        left: 59%;
    }
    .surigao {
        left: 62%;
    }
    .cebu {
        left: 56.6%;
    }
    .bacolod {
        left: 53.5%;
    }
    .iloilo {
        left: 52%;
    }
    .roxas {
        left: 52.8%;
    }
    .tacloban {
        left: 60.3%;
    }
    .palawan {
        left: 38.3%;
    }
    .mindoro {
        left: 47%;
    }
    .bicol {
        left: 55%;
    }
    .lucena {
        left: 48.5%;
    }
    .batangas {
        left: 46.8%;
    }
    .laguna {
        left: 47.5%;
    }
    .cavite {
        left: 45.5%;
    }
    .ncr {
        left: 46.7%;
    }
    .bulacan {
        left: 46.3%;
    }
    .bataan {
        left: 44.5%;
    }
    .pampanga {
        left: 45%;
    }
    .tarlac {
        left: 44.5%;
    }
    .pangasinan {
        left: 43.5%;
    }
    .baguio {
        left: 45.5%;
    }
    .ilocos {
        left: 45%;
    }.isabela {
        left: 50.5%;
    }
}

/* xxl */
@media (min-width: 1400px) {
    .palawan {
        left: 39.8%;
    }
    .cavite {
        left: 46.3%;
    }
    .ncr {
        left: 47.2%;
    }
    .bulacan {
        left: 46.9%;
    }
    .bataan {
        left: 45.3%;
    }
    .pampanga {
        left: 46%;
    }
    .tarlac {
        left: 45.5%;
    }
    .pangasinan {
        left: 44.5%;
    }
    .baguio {
        left: 45.8%;
    }
    .ilocos {
        left: 45.5%;
    }
    .roxas {
        left: 52.1%;
    }
    .iloilo {
        left: 51.7%;
    }
    .bacolod {
        left: 52.9%;
    }
    .cebu {
        left: 55.7%;
    }
    .tacloban {
        left: 58.9%;
    }
    .surigao {
        left: 60.4%;
    }
    .dipolog {
        left: 53.6%;
    }
    .cotabato {
        left: 56.5%;
    }
    .generalsantos {
        left: 59.2%;
    }
    .davao {
        left: 60.6%;
    }
    .cagayandeoro {
        left: 57.7%;
    }
}

.accordion-header button {
    background: #111;
    color: #fff;
}

.accordion-body {
    background: #111;
    background: linear-gradient(to top,#262731, #1d1e24, #111);
    color: #fff;
}

.accordion-item {
    background: #111;
    background: linear-gradient(to top,#262731, #1d1e24, #111);
    color: #fff;
    border: none;
}

.accordion-header button:not(.collapsed) {
    color: #fff;
    background-color: #ff2424;
    box-shadow: inset 0 calc(-1* 1px) 0 #111;
}

.accordion-header button::after {
    color: #fff;
}