.container-overlay {
    background-color: transparent;
    border: 2px solid white;
    padding: 20px;
    border-radius: 15px;
    margin-left: 13px;
    margin-right: 13px;
}

.card {
    background-color: #000;
    color: white;
}

.crds>* {
    margin: 20px auto;
}

:root {
    --header-height: 82px;
}

@media (min-width: 992px) {
    #companyOverview {
        height: calc(100vh - var(--header-height));
    }
}

@media (min-width: 1200px) and (max-width: 1399px) {
    .card .card-body .card-text {
        font-size: 11px;
    }
}