/* Particles */
/* Style canvas */
canvas {
	display: block;
}

/* Particles.js container */
#particles-js {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #000000;
	background-image: url("");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%;
}
.description {
	width: 100%;
}
@media (min-width:576px){
	.description {
		width: 65%;
	}
}
@media (min-width:768px){
	.description {
		width: 80%;
	}
}
@media (min-width:1200px){
	.description {
		width: 65%;
	}
}
@media (min-width:1400px){
	.description {
		width: 50%;
	}
}
/* Button sa main */
.top-index-content button {
    background-color: #ff2424;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px; /* Adjust margin-top as needed */
}
.top-index-content {
    position: absolute;
    top: 50%;
    left: 5%;
	right: 5%;
    transform: translateY(-50%);
    text-align: left;
	z-index: -1;
}
.top-index-content h1,
.top-index-content h4 {
    margin: 0; /* Reset margin to remove default spacing */
}
.image-wrapper {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: -2;
	opacity: 0.3;
	height: 100%;
	width: 100%;
}
.image-wrapper .top-image {
	width: 100%;
	height: auto;
}
.laptop_image {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.image-wrapper-reponsive {
	display: none;
}
.laptop_image1 {
	display: none;
}

@media (min-width: 768px) {
	.image-wrapper {
		display: none;
	}
	.laptop_image1 {
		display: block;
	}
	.laptop_image1 .top-image {
		
		width: 100%;
		height: auto;
	}
	.content-wrapper {
		display: flex;
		justify-content: center;
		align-items: center;
	}
}

.particles-view {
	height: 100vh;
	position: relative;
}

